**Example:**

eggs = (1,3,8,3,2)

my_listComprehension = [1/egg for egg in eggs]

print(my_listComprehension)

# Insert here the module/library import statements

In [1]:
import math
import os;
import random


# Calculate the square number of the first 20 numbers. Use square as the name of the list.
Remember to use list comprehensions and to print your results

In [ ]:
cuadrado = []
for i in range(0,20):
    cuadrado.append(i)
    for i in cuadrado:
        i = pow(i*2)

In [ ]:
lista = []
cuadrado = []
for i in range(0,20):
    print(i)
    lista.append(i)
print(lista)
for i in cuadrado:
    resultado = pow(i,2)
    cuadrado.append(resultado)
print(cuadrado)

In [ ]:
cuadrado = []
for i in range(0,200):
    cuadrado.append(i)
    if i in cuadrado:
        cuadrado =i*2

In [ ]:
lista = [i for i in range(0,20)]
print(lista)
cuadrado = [resultado for i in lista resultado = pow(i,2) ]
#print(cuadrado)

# Calculate the square root of the first 100 numbers. Use sqrt as the name of the list.
You will probably need to install math library with pip and import it in this file.

Remember to use list comprehensions and to print your results

In [ ]:
primeros_100 = []
for i in range(0,100):
    primeros_100.append(i)
#print(primeros_100)

In [ ]:
primeros_100 = [i for i in range(0,100)]
sqrt = [math.sqrt(numero) for numero in primeros_100]
#print(sqrt)


# Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.
Remember to use list comprehensions and to print your results

In [ ]:
my_list = [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]
#print(my_list)


# Find the odd numbers from 1-100. Use odds as the name of the list. 
Remember to use list comprehensions and to print your results

In [ ]:
probabilidades = []
for i in range(0,100):
    if i%2==1:
        probabilidades.append(i)
#print(probabilidades)

In [ ]:
probabilidades = [i for i in range(0,100) if i%2==1 ]
#print(probabilidades)

# Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.
Remember to use list comprehensions and to print your results

In [ ]:
divisible_by_seven = []
for i in range(0,1_000):
    if i%7==0:
        divisible_by_seven.append(i)
#print(divisible_by_seven)

In [ ]:
divisible_by_seven = [i for i in range(0,1_000) if i%7==0]
#print(divisible_by_seven)

# Remove all of the vowels in a string. Hint: make a list of the non-vowels. Use non_vowels as the name of the list.
Remember to use list comprehensions and to print your results

In [ ]:
# You can use the following test string but feel free to modify at your convenience

teststring = 'Find all of the words in a string that are monosyllabic'

In [ ]:
vocales = ['a', 'e', 'i', 'o', 'u']
non_vowels =[]
for letra in teststring:
    if letra.lower() not in vocales:
        non_vowels.append(letra)
non_vowels = "".join(non_vowels)
print(non_vowels)

In [ ]:
vocales = ['a', 'e', 'i', 'o', 'u']
non_vowels = "".join(letra for letra in teststring if letra.lower() not in vocales)
print(non_vowels)

# Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'. 
- **Use capital_letters as the name of the list.**

Remember to use list comprehensions and to print your results

In [ ]:
letters = 'The Quick Brown Fox Jumped Over The Lazy Dog'
#letters = letters.split
capital_letters = []
print(letters.split())

In [ ]:
letters = 'The Quick Brown Fox Jumped Over The Lazy Dog'
capital_letters = []
for letra in letters.split():
    capital_letters.append(letra[0])
print(capital_letters)

In [ ]:
letters = 'The Quick Brown Fox Jumped Over The Lazy Dog'
capital_letters = [letra[0] for letra in letters.split() ]
print(capital_letters)

# Find all the consonants in the sentence 'The quick brown fox jumped over the lazy dog'.
 - **Use consonants as the name of the list.**
 
Remember to use list comprehensions and to print your results.

In [ ]:
frase = "The quick brown fox jumped over the lazy dog"
vocales = ['a', 'e', 'i', 'o', 'u']
consonants = []
for letra in frase:
    if letra.lower() not in vocales:
        consonants.append(letra)
consonants = "".join(consonants)
print(consonants)

In [ ]:
consonants = ["".join(letra for letra in frase if letra.lower() not in vocales)]
print(consonants)

# Find the folders you have in your ironhack local repo. Use files as name of the list.  

**Hint: You will probably need to import os library and some of its modules. You will need to make some online research.**

Remember to use list comprehensions and to print your results.

In [ ]:
# Obtener la lista de elementos en el directorio
elementos = os.listdir('../../../iron')

# Filtrar solo las carpetas
carpetas = [elemento for elemento in elementos if os.path.isdir(os.path.join('../../../iron', elemento))]

# Imprimir las carpetas encontradas
print("Carpetas en el directorio 'iron':")
for carpeta in carpetas:
    print(carpeta)

# Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list. 
**Hint: You will probably need to import random module**

Remember to use list comprehensions and to print your results

In [ ]:
lista_aleatoria = []
for _ in range(4):
    lista = [random.randint(0, 100) for _ in range(10)]
    lista_aleatoria.append(lista)
print(lista_aleatoria)

In [ ]:
lista_aleatoria = [[random.randint(0, 100) for _ in range(10)]for _ in range(4)]
print(lista_aleatoria)

# Flatten the following list of lists. Use flatten_list as the name of the output.

Remember to use list comprehensions and to print your results

In [ ]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

In [ ]:
for i in list_of_lists :
    print(i)


# Convert the numbers of the following nested list to floats. Use floats as the name of the list. 

Remember to use list comprehensions and to print your results.

In [17]:
list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

In [23]:
floats = []
for i in list_of_lists:
    #print(i)
    for x in i:
        #print(x)
        floats.append(x)
lista_de_floats = [float(x) for x in floats]
print(lista_de_floats)

[40.0, 20.0, 10.0, 30.0, 20.0, 20.0, 20.0, 20.0, 20.0, 30.0, 20.0, 30.0, 20.0, 30.0, 50.0, 10.0, 30.0, 20.0, 20.0, 20.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0]

# Handle the exception thrown by the code below by using try and except blocks.

In [28]:
for i in ['a','b','c']:
    print i**2

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (3439384179.py, line 2)

In [54]:
for i in ['a', 'b', 'c']:
    try:
        print (i**2)
    except TypeError:
        print(f"Error: No se puede elevar al cuadrado el elemento '{i}' porque no es un número.")

Error: No se puede elevar al cuadrado el elemento 'a' porque no es un número.
Error: No se puede elevar al cuadrado el elemento 'b' porque no es un número.
Error: No se puede elevar al cuadrado el elemento 'c' porque no es un número.

# Handle the exception thrown by the code below by using try and except blocks. 

Then use a finally block to print 'All Done.'

Check in provided resources the type of error you may use.

In [57]:
x = 5
y = 0

z = x/y

ZeroDivisionError: division by zero

In [60]:
x = 5
y = 0
try:
    z = x/y
except ZeroDivisionError:
    print("No se puede dividir por 0")
finally:
    print("Todo listo")

No se puede dividir por 0
Todo listo

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [61]:
abc=[10,20,20]
print(abc[3])

IndexError: list index out of range

In [62]:
abc=[10,20,20]
try:
    print(abc[3])
except IndexError:
    print("El indice no se encuentra.")

El indice no se encuentra.

# Handle at least two kind of different exceptions when dividing a couple of numbers provided by the user. 

**Hint: take a look on python input function.**

Check in provided resources the type of error you may use.

In [93]:
try:
    Edad = int(input("Ingrese su edad:"))
    Nombre = input("Ingrese su nombre:")
except ValueError:
    print("Se le pidio un numero entero.")
#finally:
    #print("Vuelva intentarlo")

Ingrese su edad:20
Ingrese su nombre:(

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [96]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except FileNotFoundError:
    print("no se encontro el archivo")
except NameError:
    print("Error en escritura")

no se encontro el archivo

# Handle the exceptions that can be thrown by the code below using try and except blocks. 

**Hint: the file could not exist and the data could not be convertable to int**

In [100]:
try:
    fp = open('myfile.txt')
except FileNotFoundError:
    print("No se encontro el archivo")
try:
    line = f.readline()
    i = int(s.strip())
except IndentationError :
    print("Error de sangria")
except NameError:
    print("Error en escritura")

No se encontro el archivo
Error en escritura

# The following function can only run on a Linux system. 
The assert in this function will throw an exception if you call it on an operating system other than Linux.

Handle this exception using **try and except** blocks.

You will probably need to import sys

In [102]:
def linux_interaction():
    try:
        assert ('linux' in sys.platform), "Function can only run on Linux systems."
        print('Doing something.')
    except NameError:
        print("Usted no tiene Linux")
linux_interaction()

Usted no tiene Linux


# Bonus Questions:

You will need to make some research on dictionary comprehension to solve the following questions

## Write a function that asks for an integer and prints the square of it. 

**Hint: we need to continually keep checking until we get an integer.**

Use a while loop with a try,except, else block to account for incorrect inputs.

In [118]:
while 1==1:
    try:
        a = int(input("Ingrese un numero entero:"))
        if a==int:
            print(f"Perfecto, el numero ingresado es:{a}")
        else:
            break
    except ValueError :
        print(" Este numero no es valido :).")

Ingrese un numero entero:20


## Find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9). 

Use results as the name of the list

In [124]:
divisible_by_seven = []
for i in range(0,1_000):
    if i%2==0 or i%3==0 or i%4==0 or i%5==0 or i%6==0 or i%7==0 or i%8==0 or i%9==0:
        divisible_by_seven.append(i)
print(divisible_by_seven)

[0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100, 102, 104, 105, 106, 108, 110, 111, 112, 114, 115, 116, 117, 118, 119, 120, 122, 123, 124, 125, 126, 128, 129, 130, 132, 133, 134, 135, 136, 138, 140, 141, 142, 144, 145, 146, 147, 148, 150, 152, 153, 154, 155, 156, 158, 159, 160, 161, 162, 164, 165, 166, 168, 170, 171, 172, 174, 175, 176, 177, 178, 180, 182, 183, 184, 185, 186, 188, 189, 190, 192, 194, 195, 196, 198, 200, 201, 202, 203, 204, 205, 206, 207, 208, 210, 212, 213, 214, 215, 216, 217, 218, 219, 220, 222, 224, 225, 226, 228, 230, 231, 232, 234, 235, 236, 237, 238, 240, 242, 243, 244, 245, 246, 248, 249, 250, 252, 254, 255, 256, 258, 259, 260, 261, 262, 264, 265, 266, 267, 268, 270, 272, 273, 274, 275, 276, 278, 279, 280, 282, 284, 285, 286, 287, 288, 290, 291, 292, 294, 295, 296, 297, 298, 300, 301, 302, 303, 304, 305, 306, 308, 309, 310, 312, 314, 315, 316, 318, 320, 321, 322, 324, 325, 326, 327, 328, 329, 330, 332, 333, 334, 335, 336, 338, 339, 340, 342, 343, 344, 345, 346, 348, 350, 351, 352, 354, 355, 356, 357, 358, 360, 362, 363, 364, 365, 366, 368, 369, 370, 371, 372, 374, 375, 376, 378, 380, 381, 382, 384, 385, 386, 387, 388, 390, 392, 393, 394, 395, 396, 398, 399, 400, 402, 404, 405, 406, 408, 410, 411, 412, 413, 414, 415, 416, 417, 418, 420, 422, 423, 424, 425, 426, 427, 428, 429, 430, 432, 434, 435, 436, 438, 440, 441, 442, 444, 445, 446, 447, 448, 450, 452, 453, 454, 455, 456, 458, 459, 460, 462, 464, 465, 466, 468, 469, 470, 471, 472, 474, 475, 476, 477, 478, 480, 482, 483, 484, 485, 486, 488, 489, 490, 492, 494, 495, 496, 497, 498, 500, 501, 502, 504, 505, 506, 507, 508, 510, 511, 512, 513, 514, 515, 516, 518, 519, 520, 522, 524, 525, 526, 528, 530, 531, 532, 534, 535, 536, 537, 538, 539, 540, 542, 543, 544, 545, 546, 548, 549, 550, 552, 553, 554, 555, 556, 558, 560, 561, 562, 564, 565, 566, 567, 568, 570, 572, 573, 574, 575, 576, 578, 579, 580, 581, 582, 584, 585, 586, 588, 590, 591, 592, 594, 595, 596, 597, 598, 600, 602, 603, 604, 605, 606, 608, 609, 610, 612, 614, 615, 616, 618, 620, 621, 622, 623, 624, 625, 626, 627, 628, 630, 632, 633, 634, 635, 636, 637, 638, 639, 640, 642, 644, 645, 646, 648, 650, 651, 652, 654, 655, 656, 657, 658, 660, 662, 663, 664, 665, 666, 668, 669, 670, 672, 674, 675, 676, 678, 679, 680, 681, 682, 684, 685, 686, 687, 688, 690, 692, 693, 694, 695, 696, 698, 699, 700, 702, 704, 705, 706, 707, 708, 710, 711, 712, 714, 715, 716, 717, 718, 720, 721, 722, 723, 724, 725, 726, 728, 729, 730, 732, 734, 735, 736, 738, 740, 741, 742, 744, 745, 746, 747, 748, 749, 750, 752, 753, 754, 755, 756, 758, 759, 760, 762, 763, 764, 765, 766, 768, 770, 771, 772, 774, 775, 776, 777, 778, 780, 782, 783, 784, 785, 786, 788, 789, 790, 791, 792, 794, 795, 796, 798, 800, 801, 802, 804, 805, 806, 807, 808, 810, 812, 813, 814, 815, 816, 818, 819, 820, 822, 824, 825, 826, 828, 830, 831, 832, 833, 834, 835, 836, 837, 838, 840, 842, 843, 844, 845, 846, 847, 848, 849, 850, 852, 854, 855, 856, 858, 860, 861, 862, 864, 865, 866, 867, 868, 870, 872, 873, 874, 875, 876, 878, 879, 880, 882, 884, 885, 886, 888, 889, 890, 891, 892, 894, 895, 896, 897, 898, 900, 902, 903, 904, 905, 906, 908, 909, 910, 912, 914, 915, 916, 917, 918, 920, 921, 922, 924, 925, 926, 927, 928, 930, 931, 932, 933, 934, 935, 936, 938, 939, 940, 942, 944, 945, 946, 948, 950, 951, 952, 954, 955, 956, 957, 958, 959, 960, 962, 963, 964, 965, 966, 968, 969, 970, 972, 973, 974, 975, 976, 978, 980, 981, 982, 984, 985, 986, 987, 988, 990, 992, 993, 994, 995, 996, 998, 999]

## Define a customised exception to handle not accepted values. 

You have the following user inputs and the Num_of_sections can not be less than 2.

**Hint: Create a class derived from the pre-defined Exception class in Python**

In [127]:
Total_Marks = int(input("Enter Total Marks Scored: ")) 
Num_of_Sections = int(input("Enter Num of Sections: "))
if Num_of_Sections <=1:
    print("El numero ingresado tiene que ser mayor a 2")

Ingrese las calificaciones totales obtenidas:2
Ingrese el número de secciones:1
El numero ingresado tiene que ser mayor a 2